.jumbotron-video{
    align-items: center;
    padding: 20px;
    height: 1050px;
    width: auto;
    object-fit: cover;
    }

    .imagen-carrusel {
        height: auto;
        width: 90%;
        margin-left: 100px;
        object-fit: cover;
    }